// colors
$color1: hsla(36, 100%, 50%, 1);
$color2: hsla(0, 0%, 0%, 1);
$color3: hsla(0, 0%, 100%, 1);

$bg-color: hsla(0, 0%, 100%, 1);

$footer: linear-gradient(80.75deg, #6d4407 12.03%, #000000 63.7%);
