@use "colors" as c;
@use "mixins" as m;
@use "breakpoints" as b;
@use "typography" as t;

.memories {
  width: 90%;
  margin: 0 auto;
  margin-top: 8rem;

  &__heading {
    color: c.$color1;
  }
  &__imgs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 2rem;
    gap: 1.15rem;

    @include b.breakpoint(large) {
      grid-auto-rows: 300px;
    }
  }

  &__img {
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
  }

  &__img-section {
    object-fit: cover;
    opacity: 0.9;
    transition: all 0.7s ease-in-out;
    width: 100%;
    height: 100%;
  }

  &__images:nth-child(2) {
    border-radius: 10px;
  }

  &__images {
    width: 100%;
    height: 100%;
  }

  &__img:hover > &__img-section {
    transform: scale(1.05);
    opacity: 1;
  }
}

.grid-col-wide {
  grid-column: span 1;
  grid-row: span 2;
}

.grid-row-wide {
  grid-row: span 1;

  @include b.breakpoint(large) {
    grid-column: span 2;
  }
}
