@use "colors" as c;
@use "mixins" as m;
@use "typography" as t;
@use "breakpoints" as b;

.services {
  @include m.flex(column, center, center);
  max-width: 90%;
  margin: 0 auto;
  margin-top: 6rem;
  gap: 3rem;

  @include b.breakpoint(large) {
    @include m.flex(column, center, center);
    max-width: 85%;
    margin-top: 10rem;
  }

  &__heading {
    color: c.$color1;
  }

  &__ul {
    @include m.flex(column, center, center);
    gap: 5rem;
    width: 100%;

    @include b.breakpoint(large) {
      @include m.flex(row, center, center);
    }
  }

  &__list {
    position: relative;
    @include m.flex(column, start, flex-start);
    border: 3px solid c.$color1;
    border-radius: 10px;
    box-shadow: 30px 30px 50px 0 hsla(0, 0%, 0%, 0.25);
    padding: 1.55rem 1rem;
    width: 100%;
    gap: 1rem;

    @include b.breakpoint(large) {
      width: 65%;
      @include m.flex(column, start, flex-start);
      padding-top: 2.5rem;
    }
  }

  &__imgs {
    position: absolute;
    background-color: c.$color1;
    border-radius: 50%;
    text-align: center;
    padding: 0.65rem;
    top: -15%;
    left: 6%;
    width: 14%;
    height: 27%;

    @include b.breakpoint(medium) {
      top: -18%;
      left: 6%;
      width: 7%;
      height: 32%;
    }

    @include b.breakpoint(large) {
      padding: 0.85rem;
      left: 9%;
      top: -14%;
      width: 16%;
      height: 25%;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
  }
}
